*.mat
*.out
*.mod
*LOG.txt
data/
funwave/v*
funwave/beta/
*exec
funwave-runs/OLD-RUNS/
testbed/
*slurm_logs*
*OLD_RUNS*
*.o
*.f90
*funwave/ryan/funwave-work/output*
token.txt
*funwave-runs*
funwave/v3.6F
funwave/v3.6b
funwave/v3.7
funwave/v3.6_old
funwave/v3.4
funwave/v3.5
funwave/beta
funwave/ryan